.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.calendar {
  border:1px solid red;
}

.bWcVOO {
  position: relative;
  overflow: hidden;
  -webkit-transition: all .15s;
  transition: all .15s;
  padding: 0 20px;
  margin-left: 64px;
}

.eupnTP {
  position: relative;
  overflow: hidden;
  -webkit-transition: all .15s;
  transition: all .15s;
  padding: 0 20px;
  margin-left: 240px;
}