.calendar {
  font-size: 12px;
  font-weight: 400;
  font-family: "Lato", sans-serif;
  color: #444;
  padding: 0;
  margin: 0;
  width: 100%; }
  .calendar .weekday {
    border: 1px solid #ccc;
    text-align: center;
    width: 200px; }
  .calendar .day {
    border: 1px solid #ccc;
    vertical-align: top;
    padding-bottom: 10px; }
    .calendar .day table {
      width: 100%; }
      .calendar .day table thead td {
        padding: 2px 1px;
        text-align: right; }
      .calendar .day table thead a {
        cursor: pointer; }
      .calendar .day table tbody td {
        height: 50px; }

.today table thead a {
  color: #ff0000; }

.greyDay table thead a {
  color: #ccc; }
