
.calendar {
  font-size: 12px;
  font-weight: 400;
  font-family: "Lato", sans-serif;
  color: #444;
  padding:0;
  margin:0;
  width:100%;
  .weekday {
    border:1px solid #ccc;
    text-align: center;
    width:200px;
  }
  .day {
    border: 1px solid #ccc;
    vertical-align: top;
    padding-bottom: 10px;
    table {
      width:100%;
      thead {
        td {
          padding: 2px 1px;
          text-align: right;
        }
        a {
          cursor: pointer;
        }
      }
      tbody {
        td {
          height:50px;
        }
      }
    }
  }
  .greyDay {
    color:#ccc !important;
  }
  .today {
    color:#ff0000 !important;
  }
}
